header img {
  width: 7rem;
  margin-bottom: 2rem;
}

.form p {
  margin-bottom: 1rem;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.form p.warning {
  color: black;
  font-size: 12px;
  font-style: italic;
  margin-top: 1rem;
}

.form-actions {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.form-actions input {
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid black;
}

.form-actions button {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;

  background-color: #0948f5;
  border: 1px solid black;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.form-actions button:hover {
  opacity: 0.75;
  transition: 0.3s;
}

.map-table {
  display: flex;
  flex-direction: column;
}
