header img {
  width: 15rem;
}

.form p {
  margin-bottom: 1rem;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.form p.warning {
  color: black;
  font-size: 12px;
  font-style: italic;
  margin-top: 1rem;
}

.form-actions {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.form-actions input {
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid black;
}

.form-actions button {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;

  background-color: #35a9e1;
  border: 1px solid black;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.form-actions button:hover {
  opacity: 0.75;
  transition: 0.3s;
}

.map-table {
  display: flex;
  flex-direction: row;
}

.tecnics {
  display: flex;
  flex-direction: column;
  margin-top: -15rem;
  margin-left: 55rem;
}

.tec1,
.tec2,
.others1,
.others2 {
  display: flex;
  flex-direction: column;
  width: 140px;
  margin: 0 1.5rem;
}

.tec1 h3,
.tec2 h3,
.others1 h3,
.others2 h3 {
  color: black;
  margin: 2rem 0 1rem 0;
}

.others1 h3:first-child {
  margin: 2rem 0 0;
}

.tec1 p,
.tec2 p,
.others1 p,
.others2 p {
  color: white;
  margin: 0.5rem 0;
  border: 1px solid black;
}

.others1 li {
  font-family: sans-serif;
  border: none;
  width: 300px;
  text-align: left;
  margin-left: -50px;
  margin-top: 0.5rem;
  color: black;
}

#final-li {
  margin: 0.5rem 0 1.5rem -50px;
}

.tec1 p#soon {
  background-color: black;
}

.tec1 p#late {
  background-color: yellow;
  color: black;
}

.tec2 p#soon {
  background-color: blue;
}

.tec2 p#late {
  background-color: red;
}

.others1 p#cambe {
  background-color: purple;
}

.others1 p#uniao {
  background-color: purple;
}

.others2 p#ibipora {
  background-color: orange;
}
