@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
  margin-bottom: 1rem;
  color: red;
  opacity: 0;
  border-radius: 1px solid red;
  background-color: #00000099;
  transition: 0.3s;
}

.map-container {
  height: 400px;
  width: 400px;
}